*~
*.pyc
\#*
/build
/testrun.db
/workingdir

aclocal.m4
autom4te.cache
config.h*
config.h.in
config.log
config.status
config.guess
config.sub
config.rpath
configure
insanity*.pc
libtool
stamp-h
stamp-h.in
stamp-h1
ltmain.sh
missing
mkinstalldirs
compile
install-sh
depcomp
autoregen.sh
ABOUT-NLS
_stdint.h

insanity-*.tar*

.deps
.libs
*.lo
*.orig
docs/insanity/html/*
docs/insanity/xml/*
/docs/insanity/tmpl*
*.la
*.o
*~
*.bak
/m4
Makefile.in
Makefile
*.gir
*.db
*.typelib
/docs/insanity/html-build.stamp
/docs/insanity/html.stamp
/docs/insanity/insanity.args
/docs/insanity/insanity-decl-list.txt
/docs/insanity/insanity-decl.txt
/docs/insanity/insanity.hierarchy
/docs/insanity/insanity.interfaces
/docs/insanity/insanity-overrides.txt
/docs/insanity/insanity.prerequisites
/docs/insanity/insanity.signals
/docs/insanity/insanity-undeclared.txt
/docs/insanity/insanity-undocumented.txt
/docs/insanity/insanity-unused.txt
/docs/insanity/scan-build.stamp
/docs/insanity/setup-build.stamp
/docs/insanity/sgml-build.stamp
/docs/insanity/sgml.stamp
/docs/insanity/version.xml
/lib/insanity/insanity-marshal.c
/lib/insanity/insanity-marshal.h
/py-compile
/tests/insanity-test-blank
