<tr class="{% cycle row1,row2 %}">
  <td><a href={{test.get_absolute_url}}>{{test.id}}</a></td>
  {% for arg in arguments %}
    {% if arg.default %}
     <td class="arg-default">{{ arg.value }}</td>
    {% else %}
     <td>{{ arg.value }}</td>
    {% endif %}
  {% endfor %}

  <td class="{% if test.is_success %}result-OK{% else %}result-FAIL{% endif %}">{{test.resultpercentage|floatformat:1}}%</td>
  {% for item in results %}
    {% if item.skipped %}
      <td class="result-skipped"><span title="{{item.name}} : skipped/unavailable">?</span></td>
    {% else %}
      {% if item.success %}
        <td class="result-OK"><span title="{{ item.name}} : OK">+</span></td>
      {% else %}
        {% if item.expected_failure %}
          <td class="result-OK"><span title="{{ item.name}} : failed (expected)">~</span></td>
        {% else %}
          <td class="result-FAIL"><span title="{{ item.name}} : failed">-</span></td>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if test_error %}
    <td> {{test_error}} </td>
  {% endif %}
</tr>
