<table width="100%" class="inside">
  <tr>
    <th></th>
    <th></th>
    <th>Description</th>
  </tr>
  {% for result in results %}
  <tr class="{% cycle row1,row2 %}">
    <th class="side">{{result.name}}</th>
    {% if result.skipped %}
    <td class="result-skipped">
      Skip
    </td>
    {% else %}
    <td class="{%if result.success %}result-OK{% else %}{% if result.expected_failure %}result-OK{% else %}result-FAIL{% endif %}{% endif %}">
      {% if result.success %}OK{% else %}Fail{% if result.expected_failure %} (expected){% endif %}{% endif %}
    </td>
    {% endif %}
    <td>{{result.name.description}}{% if not result.success and result.explanation %} <em>(likely reason: {{ result.explanation }})</em>{% endif %}</td>
  </tr>
  {% endfor %}
</table>
